<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost:5300/ProcessingTools</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/ProcessingTools</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataResourcesDatabaseConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProcessingTools.DataResources.Data.Entity.DataResourcesDbContext, ProcessingTools.DataResources.Data.Entity" MigrationConfiguration="ProcessingTools.DataResources.Data.Entity.Migrations.Configuration, ProcessingTools.DataResources.Data.Entity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProcessingTools.Api.Data.ApplicationDbContext, ProcessingTools.Api.Data" MigrationConfiguration="ProcessingTools.Api.Data.Migrations.Configuration, ProcessingTools.Api.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BioDatabaseConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProcessingTools.Bio.Data.BioDbContext, ProcessingTools.Bio.Data" MigrationConfiguration="ProcessingTools.Bio.Data.Migrations.Configuration, ProcessingTools.Bio.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BioEnvironmentsDatabaseConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProcessingTools.Bio.Environments.Data.BioEnvironmentsDbContext, ProcessingTools.Bio.Environments.Data" MigrationConfiguration="ProcessingTools.Bio.Environments.Data.Migrations.Configuration, ProcessingTools.Bio.Environments.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BioTaxonomyDatabaseConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProcessingTools.Bio.Taxonomy.Data.BioTaxonomyDbContext, ProcessingTools.Bio.Taxonomy.Data" MigrationConfiguration="ProcessingTools.Bio.Taxonomy.Data.Migrations.Configuration, ProcessingTools.Bio.Taxonomy.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataDatabseConnection" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProcessingTools.Data.DataDbContext, ProcessingTools.Data" MigrationConfiguration="ProcessingTools.Data.Migrations.Configuration, ProcessingTools.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DocumentsDatabaseConnection" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProcessingTools.Documents.Data.DocumentsDbContext, ProcessingTools.Documents.Data" MigrationConfiguration="ProcessingTools.Documents.Data.Migrations.Configuration, ProcessingTools.Documents.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GeoDatabseConnection" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProcessingTools.Geo.Data.GeoDbContext, ProcessingTools.Geo.Data" MigrationConfiguration="ProcessingTools.Geo.Data.Migrations.Configuration, ProcessingTools.Geo.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MediatypesDatabaseConnection" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProcessingTools.MediaType.Data.MediaTypesDbContext, ProcessingTools.MediaType.Data" MigrationConfiguration="ProcessingTools.MediaType.Data.Migrations.Configuration, ProcessingTools.MediaType.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BioDatabaseConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BioEnvironmentsDatabaseConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BioTaxonomyDatabaseConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataDatabseConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataResourcesDatabaseConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DocumentsDatabaseConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GeoDatabseConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MediatypesDatabaseConnection-Web.config Connection String" />
  </ItemGroup>
</Project>