@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using ProcessingTools.WebApp.Areas.HelpPage.Models

@{
    ViewBag.Title = "Process Page";
}

<h1>@ViewBag.Title</h1>
<form style="border: 1px solid black;">
    <textarea style="display: none;" id="text-editor"></textarea>
</form>
<script>
    var textEditor = document.getElementById('text-editor'),
        myCodeMirror = CodeMirror(function (e) {
            textEditor.parentElement.replaceChild(e, textEditor);
        }, {
            value: '<?xml version="1.0"?><article />',
            lineNumbers: true,
            firstLineNumber: 1,
            mode: 'xml',
            indentUnit: 4,
            smartIndent: true,
            tabSize: 4,
            indentWithTabs: false,
            electricChars: true,
            lineWrapping: true,
            lineWiseCopyCut: true,
            dragDrop: true,
            closeTagEnabled: true,
            matchBrackets: true
        });
</script>
