@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using ProcessingTools.WebApp.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Process Page";
}

<h1>@ViewBag.Title</h1>
<form>
    <textarea id="text-editor"></textarea>
</form>
<script>
    var myCodeMirror = CodeMirror(document.getElementById('text-editor'), {
        mode: "xml"
    });
</script>
