<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 form-horizontal">
            <div class="form-group">
                <fieldset>
                    <legend>Add black-list items</legend>
                    <form ng-submit="blackList.addItem()">
                        <textarea ng-model="blackList.textArea" name="items" cols="30" rows="4" placeholder="add blacklist items here"
                            class="form-control"></textarea>
                        <div class="mt-1">
                            <input class="btn btn-outline-primary" type="submit" value="Add" />
                        </div>
                    </form>
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset>
                    <legend>Search black-list item</legend>
                    <form ng-submit="blackList.search('blackListSearchUrl')">
                        <input ng-model="blackList.searchString" type="text" size="30" placeholder="input black-list item to search here"
                            class="form-control" pattern=".+" />
                        <div class="mt-1">
                            <input class="btn btn-outline-primary" type="submit" value="Search" />
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="blackList.items.length">
                <fieldset>
                    <legend>Black-list items</legend>
                    <ul class="view-list">
                        <li ng-repeat="item in blackList.items | orderBy: 'content'" class="list-item">
                            <span class="index">{{$index + 1}}.</span>
                            <span class="black-list-item">{{item.content}}</span>
                            <span ng-click="blackList.removeItem(item.id)" class="fa fa-times remove-button" title="Remove"></span>
                        </li>
                    </ul>
                    <div class="mt-1">
                        <span ng-click="blackList.submitItems('blackListSubmitUrl')" class="btn btn-outline-primary">Submit</span>
                        <span ng-click="blackList.clearList()" class="btn btn-outline-danger">Clear List</span>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>