<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.1" targetFramework="net462" />
  <package id="Moq" version="4.7.99" targetFramework="net462" />
  <package id="NUnit" version="3.7.1" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.8.0" targetFramework="net462" />
  <package id="ServiceStack.Common" version="4.5.12" targetFramework="net462" />
  <package id="ServiceStack.Interfaces" version="4.5.12" targetFramework="net462" />
  <package id="ServiceStack.Redis" version="4.5.12" targetFramework="net462" />
  <package id="ServiceStack.Text" version="4.5.12" targetFramework="net462" />
  <package id="SonarAnalyzer.CSharp" version="6.3.0.2862" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net462" developmentDependency="true" />
</packages>