<div id="coordinates-map-toolbox" class="panel card draggable">
    <div class="panel-heading card-header toolbox-titlebar text-muted">
        <span class="titlebar-text">{{title}}</span>
        <span class="titlebar-buttons">
            <button class="btn btn-outline-secondary close-button">×</button>
        </span>
    </div>
    <div class="panel-body card-body">
        <div id="coordinates-map" class="toolbox-content"></div>
    </div>
</div>
