@using Strings = ProcessingTools.Web.Areas.Data.Resources.GeoNames.Views_Strings
@model ProcessingTools.Web.Areas.Data.Models.GeoNames.GeoNameViewModel
<div class="modal fade" tabindex="-1" role="dialog" id="detailsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Strings.DetailsPageTitle</h4>
            </div>
            <div class="modal-body">
                <div class="detailsModal-content">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(m => m.Name)</dt>
                        <dd class="details-name"></dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Strings.CancelButtonText</button>
            </div>
        </div>
    </div>
</div>
