<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dataNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data</a>
    <div class="dropdown-menu" aria-labelledby="dataNavbarDropdown">
        <a class="dropdown-item" asp-area="@(AreaNames.Data)" asp-controller="@(ProcessingTools.Web.Documents.Areas.Data.Controllers.BioController.ControllerName)" asp-action="@(ProcessingTools.Web.Documents.Areas.Data.Controllers.BioController.IndexActionName)">Bio</a>
    </div>
</li>
