<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings file="C:\bin\config\CommonAppSettings.config"></appSettings>
  <connectionStrings>
    <add name="BioDatabaseConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BioDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BioEnvironmentsDatabaseConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EnvironmentsDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BioTaxonomyDatabaseConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Taxonomy;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DataDatabseConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ProcessingToolsData;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DataResourcesDatabaseConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ProcessingTools.Resources.Data;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Users;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DocumentsDatabaseConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Documents;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="GeoDatabseConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GeoDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="HistoryDatabaseConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ProcessingToolsHistory;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MediatypesDatabaseConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Mediatypes;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
