@model ProcessingTools.Geo.Data.Models.Continent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Continent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        <span>|</span>
    }

    @Html.ActionLink("Back to List", "Index")
</p>
