@using ProcessingTools.Web.Common.Constants
@using ProcessingTools.Web.Documents.Areas.ArticlesManagment.ViewModels.Files

@model FileDetailsViewModel
@{
    ViewBag.Title = ContentConstants.DeafultDetailsPageTitle;
}

@Styles.Render("~/Content/article-styles")

<main>
    <div id="article">
        @Html.Raw(Model.Document)
    </div>
</main>