@using ProcessingTools.Web.Common.Constants
@using ProcessingTools.Web.Documents.Areas.ArticlesManagment.ViewModels.Files

@model FileMetadataViewModel

@{
    ViewBag.Title = ContentConstants.DeafultDetailsPageTitle;
}


<p>TODO</p>