@using Strings = Resources.Strings
<hr />
<footer>
    <nav class="separated-items">
        <span class="item">
            @Html.ActionLink(
                linkText: Strings.DefaultBackToListActionLinkTitle,
                actionName: ActionNames.DeafultIndexActionName)
        </span>
    </nav>
</footer>
