<hr />
<footer>
    <nav class="separated-items">
        <span class="item">
            @Html.ActionLink(
                linkText: Resources.Strings.DefaultBackToListActionLinkTitle,
                actionName: ActionNames.DeafultIndexActionName)
        </span>
    </nav>
</footer>
