@using Strings = Resources.Strings
<footer>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color separated-items">
            <span class="item">
                <input type="submit" value="Delete" class="btn btn-default" />
            </span>
            <span class="item">
                @Html.ActionLink(
                    linkText: Strings.DefaultBackToListActionLinkTitle,
                    actionName: ActionNames.DeafultIndexActionName)
            </span>
        </div>
    }
</footer>
