@using ProcessingTools.Web.Documents.App_GlobalResources
<hr />
<footer>
    <nav class="separated-items">
        <span class="item">
            @Html.ActionLink(
                linkText: Strings.DefaultEditActionLinkTitle,
                actionName: ActionNames.DeafultEditActionName,
                routeValues: new { id = Model.Id })
        </span>
        <span class="item">
            @Html.ActionLink(
                linkText: Strings.DefaultBackToListActionLinkTitle,
                actionName: ActionNames.DeafultIndexActionName)
        </span>
    </nav>
</footer>
