@model ProcessingTools.Web.Documents.ViewModels.Error.ErrorMetaViewModel

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">
    @Model.ToString()
</h2>
<h3 class="text-danger">An error occurred while processing your request.</h3>

<p>
    @Model.SourceAction.Message
</p>

@Html.Partial(ViewConstants.ErrorFootPartialViewName)
