@model ProcessingTools.Web.Documents.ViewModels.Error.ErrorMetaViewModel

@{
    ViewBag.Title = "Null Id Error";
}

<h2 class="text-danger">
    @Model.ToString()
</h2>
<h3>Id is expected.</h3>

@Html.Partial(ViewConstants.ErrorFootPartialViewName)
