.balloon,
.custom-tooltip .custom-tooltiptext {
  position: fixed;
  display: block;
  visibility: visible;
  font-weight: normal;
  color: white;
  background-color: black;
  width: 200px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  z-index: 1;
  opacity: 0.8;
  pointer-events: none;
  /* Balloon top arrow*/
}
.balloon::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 20px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.custom-tooltip {
  position: relative;
  display: inline;
}
.custom-tooltip:hover .custom-tooltiptext {
  visibility: visible;
  opacity: 0.8;
}
.custom-tooltip .custom-tooltiptext {
  visibility: hidden;
  position: absolute;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opacity: */
  opacity: 0;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  /* Bottom tooltip */
  top: 110%;
  left: 50%;
  margin-left: -100px;
  /* Tooltip top arrow*/
}
.custom-tooltip .custom-tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}