@default-padding: 10px;
@treatment-sec-padding: @default-padding;

@taxon-font-color: #f60;
@taxon-background-color: fade(lighten(@taxon-font-color, 25%), 15%);

@mark-1-color: #FCF8E3;
@mark-2-color: darken(@mark-1-color, 10%);
@mark-3-color: darken(@mark-2-color, 20%);

@article-min-width: 50px;
@article-max-width: 800px;

@aside-left: 1250px;
@aside-right: 10px;
@aside-top: 200px;
@aside-max-heigth: 60%;
@aside-max-width: 300px;

.outset-border {
    border: 1px #E6E6E6 solid;
    border-radius: 5px;
}

.no-border {
    border: none;
    border-radius: 0px;
}

.heading-layout:extend(.outset-border) {
    background-color: #F5F5F5;
    color: black;
    font-weight: normal;
    padding: 5px;
    text-align: center;
}

body {
    position: relative;
}

li {
    padding: 0;
    margin: 0;
}

#article {
    text-align: justify;
    min-width: @article-min-width;
    max-width: @article-max-width;
    padding: 0 @default-padding 0 @default-padding;
}

aside {
    position: fixed;
    top: @aside-top;
    left: @aside-left;
    right: @aside-right;
    height: @aside-max-heigth;
    max-height: @aside-max-heigth;
    max-width: @aside-max-width;
    overflow-y: auto;

    li:nth-child(2n) {
        background-color: azure;
    }
}

em {
    font-style: italic;

    &.taxon-name {
        font-style: normal;
        background-color: @taxon-background-color;
    }
}



.taxon-name {
    position: relative;

    .object-id {
        display: none;
    }

    &:hover .object-id {
        position: absolute;
        top: 25px;
        display: block;
        font-size: 1em;
        color: white;
        background-color: black;
        padding: 5px;
        border-radius: 5px;
        min-width: 30em;
        max-width: 30em;
        width: 30em;
        text-align: center;

        &::after {
            content: " ";
            position: absolute;
            bottom: 100%;
            left: 5%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }
    }
}

.nomenclature {
    margin-top: 10px;

    > .taxon-name, > .taxon-authority, > .taxon-status {
        display: inline-block;
        font-size: 1.2em;
    }

    .xref-group {
        display: block;
    }
}

.taxon-name-part {
    color: @taxon-font-color;

    &.genus, &.subgenus, &.species, &.subspecies {
        font-style: italic;
    }
}

.named-content {
    background-color: rgba(205, 248, 248, 0.70);

    &.date {
        text-decoration: underline wavy #ffd800;
    }
}

abbr {
    text-decoration: underline wavy #808080;

    .abbr-def-p {
        text-decoration: underline double #808080;
    }
}

.taxon-treatment {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: lighten(rebeccapurple, 57%);

    .nomenclature {
        font-size: 1.0em;
    }
}

section {
    margin-top: 1.2em;
    margin-bottom: 1.2em;

    &.treatment-sec {
        padding-left: @treatment-sec-padding;
    }

    h3 {
        font-size: 1.2em;
        font-weight: bold;
        text-indent: -@treatment-sec-padding;
    }

    &.treatment-sec h3 {
        font-size: 1.1em;
    }

    p {
        font-size: 1em;
        text-align: justify;
    }
}

table:extend(.outset-border) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;

    td, th {
        width: 100%;
        border-color: #ccc;
        padding: 5px;
        text-align: left;
    }
}

.table-wrap[content-type='key'] {
    table:extend(.no-border) {
        border-collapse: collapse;
        td {
            &:nth-child(1) {
                max-width: 10%;
            }

            &:nth-child(2) {
                max-width: 70%;
            }

            &:nth-child(3) {
                min-width: 20%;
                max-height: 40%;
            }
        }
    }
}

h4.label {
    color: black;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

.front {
    .journal-title-group, .journal-title, .abbrev-journal-title {
        display: none;
    }

    .journal-meta:extend(.heading-layout) {
        display: block;
        margin: 1em 0 1em 0;
        padding: 10px;

        .journal-id, .issn {
            display: inline-block;
        }
    }

    .article-meta {
        .article-id:before {
            content: 'doi: ';
        }

        .article-categories {
            .subject:extend(.heading-layout) {
                margin-top: 1em;
                margin-bottom: 1em;
                width: 150px;
                min-width: 150px;
                max-width: 150px;
            }
        }

        .contrib-group {
            .contrib {
                display: inline-block;

                .name {
                    display: inline-block;

                    .surname, .given-names {
                        display: inline;
                    }
                }

                .xref {
                    display: inline-block;
                    position: relative;
                    top: -0.5em;
                    font-size: 80%;
                }
            }
        }

        .aff {
            margin-top: 0.5em;
            margin-bottom: 0.5em;

            .label {
                display: inline;
                position: relative;
                top: -0.5em;
                font-size: 80%;
            }

            .addr-line {
                display: inline;
            }
        }

        .kwd {
            display: inline;

            &:after {
                content: ', ';
            }

            &:last-child:after {
                content: '';
            }
        }

        > .pub-date[pub-type='collection'] {
            display: none;
        }

        > .pub-date[pub-type='epub'] {
            display: inline-block;

            &:before {
                content: ' | Date published: ';
            }

            .day, .month, .year {
                display: inline;
            }
        }

        > .volume, > .issue, > .fpage, > .lpage, > .elocation-id {
            display: inline-block;

            &:before {
                content: ' | ';
            }
        }

        > .history {
            display: inline-block;

            .date {
                display: inline-block;

                &:before {
                    content: ' | Date ' attr(date-type) ': ';
                }

                &:last-child:after {
                    content: ' |';
                }

                .day, .month, .year {
                    display: inline;
                }
            }
        }

        > .permissions {
            margin-top: 1.1em;
            margin-bottom: 1.1em;
            color: #777;
        }
    }

    .notes {
        color: #777;
    }
}

.supplementary-material {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.mixed-citation {
    .person-group {
        .name {
            &:after {
                content: ', ';
            }

            &:last-child:after {
                content: '';
            }
        }
    }
}

.institutional_code {
    background-color: burlywood;
}

span.ext-link {
    color: cornflowerblue;
    text-decoration: underline double;
}

mark {
    margin: 0;
    padding: 0;
    background-color: @mark-1-color;

    mark {
        background-color: @mark-2-color;

        mark {
            background-color: @mark-3-color;
        }
    }
}
