@default-padding: 10px;
@treatment-sec-padding: @default-padding;

@taxon-font-color: #f60;
@taxon-background-color: fade(lighten(@taxon-font-color, 25%), 15%);

body {
}

li {
    padding: 0;
    margin: 0;
}

main {
    min-width: 50px;
    max-width: 1200px;
    padding: 0 @default-padding 0 @default-padding;
}

em {
    font-style: italic;

    &.taxon-name {
        font-style: normal;
        background-color: @taxon-background-color;
    }
}

.taxon-name-part {
    color: @taxon-font-color;

    &.genus, &.subgenus, &.species, &.subspecies {
        font-style: italic;
    }
}

.named-content {
    background-color: rgba(205, 248, 248, 0.70);

    &.date {
        text-decoration: underline wavy #ffd800;
    }
}

abbr {
    text-decoration: underline wavy #808080;

    .abbr-def-p {
        text-decoration: underline double #808080;
    }
}

.taxon-treatment {
    margin-top: 30px;
    margin-bottom: 30px;

    .nomenclature {
        font-size: 1.0em;
    }
}

section {
    margin-top: 1.2em;
    margin-bottom: 1.2em;

    &.treatment-sec {
        padding-left: @treatment-sec-padding;
    }

    h3 {
        font-size: 1.2em;
        font-weight: bold;
        text-indent: -@treatment-sec-padding;
    }

    p {
        font-size: 1em;
        text-align: justify;
    }
}

table-wrap[content-type='key'] {
    table {
        border-collapse: collapse;

        td {
            border-color: #ccc;
            padding: 5px;
            text-align: left;

            :nth-child(1) {
                max-width: 10%;
            }

            :nth-child(2) {
                max-width: 70%;
            }

            :nth-child(3) {
                min-width: 20%;
                max-height: 40%;
            }
        }
    }
}

h4.label {
    color: black;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

.front {
    .journal-title-group, .journal-title, .abbrev-journal-title {
        display: none;
    }

    .journal-meta {
        display: block;
        margin: 1em 0 1em 0;
        padding: 5px;
        border: 1px solid black;

        .journal-id, .issn {
            display: inline-block;
        }
    }

    .article-meta {
        .article-id:before {
            content: 'doi: ';
        }

        .article-categories {
            .subj-group {
                margin-top: 1em;
                margin-bottom: 1em;
                border: 1px solid black;
                border-radius: 5px;
                padding: 5px;
                text-align: center;
                width: 150px;
                min-width: 150px;
                max-width: 150px;
            }
        }

        .contrib-group {
            .contrib {
                display: inline-block;

                .name {
                    display: inline-block;

                    .surname, .given-names {
                        display: inline;
                    }
                }

                .xref {
                    display: inline-block;
                    position: relative;
                    top: -0.5em;
                    font-size: 80%;
                }
            }
        }

        .aff {
            margin-top: 0.5em;
            margin-bottom: 0.5em;

            .label {
                display: inline;
                position: relative;
                top: -0.5em;
                font-size: 80%;
            }

            .addr-line {
                display: inline;
            }
        }

        .kwd {
            display: inline;

            &:after {
                content: ', ';
            }

            &:last-child:after {
                content: '';
            }
        }

        > .pub-date[pub-type='collection'] {
            display: none;
        }

        > .pub-date[pub-type='epub'] {
            display: inline-block;

            &:before {
                content: ' | Date published: '
            }

            .day, .month, .year {
                display: inline;
            }
        }

        > .volume, > .issue, > .fpage, > .lpage, > .elocation-id {
            display: inline-block;

            &:before {
                content: ' | ';
            }
        }

        > .history {
            display: inline-block;

            .date {
                display: inline-block;

                &:before {
                    content: ' | Date ' attr(date-type) ': ';
                }

                &:last-child:after {
                    content: ' |';
                }

                .day, .month, .year {
                    display: inline;
                }
            }
        }

        > .permissions {
            margin-top: 1.1em;
            margin-bottom: 1.1em;
            color: #777;
        }
    }

    .notes {
        color: #777;
    }
}

.supplementary-material {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.mixed-citation {
    .person-group {
        .name {
            &:after {
                content: ', ';
            }

            &:last-child:after {
                content: ''
            }
        }
    }
}
