body {
  position: relative;
}
.outset-border,
.heading-layout,
table,
.front .journal-meta,
.front .article-meta .article-categories .subject {
  border: 1px #E6E6E6 solid;
  border-radius: 5px;
}
.no-border,
.table-wrap[content-type='key'] table {
  border: none;
  border-radius: 0px;
}
.center-block,
.front .journal-meta,
.front .article-meta .article-id,
.front .article-meta .article-categories .subject,
.front .article-meta .title-group {
  text-align: center;
  margin: 1em auto 1em auto;
  display: block;
}
.heading-layout,
.front .journal-meta,
.front .article-meta .article-categories .subject {
  background-color: #F5F5F5;
  color: black;
  font-weight: normal;
  padding: 5px;
  text-align: center;
}
li {
  padding: 0;
  margin: 0;
}
#article {
  margin: 0 auto;
  text-align: justify;
  min-width: 50px;
  max-width: 800px;
  padding: 0 10px 0 10px;
}
em {
  font-style: italic;
}
em.taxon-name {
  font-style: normal;
  background-color: rgba(255, 179, 128, 0.15);
}
.taxon-name {
  position: relative;
}
.taxon-name .object-id {
  display: none;
}
.taxon-name:hover .object-id {
  position: absolute;
  top: 25px;
  display: block;
  font-size: 1em;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  min-width: 30em;
  max-width: 30em;
  width: 30em;
  text-align: center;
}
.taxon-name:hover .object-id::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 5%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.nomenclature {
  margin-top: 10px;
}
.nomenclature > .taxon-name,
.nomenclature > .taxon-authority,
.nomenclature > .taxon-status {
  display: inline-block;
  font-size: 1.2em;
}
.nomenclature .xref-group {
  display: block;
}
.taxon-name-part {
  color: #f60;
}
.taxon-name-part.genus,
.taxon-name-part.subgenus,
.taxon-name-part.species,
.taxon-name-part.subspecies {
  font-style: italic;
}
.named-content {
  background-color: rgba(205, 248, 248, 0.7);
}
.named-content.date {
  text-decoration: underline wavy #ffd800;
}
abbr {
  text-decoration: underline wavy #808080;
}
abbr .abbr-def-p {
  text-decoration: underline double #808080;
}
.taxon-treatment {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #f7f4fb;
}
.taxon-treatment .nomenclature {
  font-size: 1.0em;
}
section {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
section.treatment-sec {
  padding-left: 10px;
}
section h3 {
  font-size: 1.2em;
  font-weight: bold;
  text-indent: 0;
}
section.treatment-sec h3 {
  font-size: 1.1em;
}
section p {
  font-size: 1em;
  text-align: justify;
}
table {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
}
table td,
table th {
  width: 100%;
  border-color: #ccc;
  padding: 5px;
  text-align: left;
}
.table-wrap[content-type='key'] table {
  border-collapse: collapse;
}
.table-wrap[content-type='key'] table td:nth-child(1) {
  max-width: 10%;
}
.table-wrap[content-type='key'] table td:nth-child(2) {
  max-width: 70%;
}
.table-wrap[content-type='key'] table td:nth-child(3) {
  min-width: 20%;
  max-height: 40%;
}
h4.label {
  color: black;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
}
.front .journal-title-group,
.front .journal-title,
.front .abbrev-journal-title {
  display: none;
}
.front .journal-meta {
  padding: 10px;
}
.front .journal-meta .journal-id,
.front .journal-meta .issn {
  display: inline-block;
}
.front .article-meta .article-id:before {
  content: 'doi: ';
}
.front .article-meta .article-categories .subject {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}
.front .article-meta .contrib-group .contrib {
  display: inline-block;
}
.front .article-meta .contrib-group .contrib .name {
  display: inline-block;
}
.front .article-meta .contrib-group .contrib .name .surname,
.front .article-meta .contrib-group .contrib .name .given-names {
  display: inline;
}
.front .article-meta .contrib-group .contrib .xref {
  display: inline-block;
  position: relative;
  top: -0.5em;
  font-size: 80%;
}
.front .article-meta .aff {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.front .article-meta .aff .label {
  display: inline;
  position: relative;
  top: -0.5em;
  font-size: 80%;
}
.front .article-meta .aff .addr-line {
  display: inline;
}
.front .article-meta .kwd {
  display: inline;
}
.front .article-meta .kwd:after {
  content: ', ';
}
.front .article-meta .kwd:last-child:after {
  content: '';
}
.front .article-meta > .pub-date[pub-type='collection'] {
  display: none;
}
.front .article-meta > .pub-date[pub-type='epub'] {
  display: inline-block;
}
.front .article-meta > .pub-date[pub-type='epub']:before {
  content: ' | Date published: ';
}
.front .article-meta > .pub-date[pub-type='epub'] .day,
.front .article-meta > .pub-date[pub-type='epub'] .month,
.front .article-meta > .pub-date[pub-type='epub'] .year {
  display: inline;
}
.front .article-meta > .volume,
.front .article-meta > .issue,
.front .article-meta > .fpage,
.front .article-meta > .lpage,
.front .article-meta > .elocation-id {
  display: inline-block;
}
.front .article-meta > .volume:before,
.front .article-meta > .issue:before,
.front .article-meta > .fpage:before,
.front .article-meta > .lpage:before,
.front .article-meta > .elocation-id:before {
  content: ' | ';
}
.front .article-meta > .history {
  display: inline-block;
}
.front .article-meta > .history .date {
  display: inline-block;
}
.front .article-meta > .history .date:before {
  content: ' | Date ' attr(date-type) ': ';
}
.front .article-meta > .history .date:last-child:after {
  content: ' |';
}
.front .article-meta > .history .date .day,
.front .article-meta > .history .date .month,
.front .article-meta > .history .date .year {
  display: inline;
}
.front .article-meta > .permissions {
  margin-top: 1.1em;
  margin-bottom: 1.1em;
  color: #777;
}
.front .notes {
  color: #777;
}
.supplementary-material {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
.mixed-citation .person-group .name:after {
  content: ', ';
}
.mixed-citation .person-group .name:last-child:after {
  content: '';
}
.institutional_code {
  background-color: burlywood;
}
span.ext-link {
  color: cornflowerblue;
  text-decoration: underline double;
}
mark {
  margin: 0;
  padding: 0;
  background-color: #FCF8E3;
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
}
mark mark {
  background-color: #f7ecb5;
  border: none;
}
mark mark mark {
  background-color: #edd559;
  border: none;
}