@using Strings = ProcessingTools.Web.Resources.Views.Shared.Strings
@model System.Web.Mvc.HandleErrorInfo
@{
    this.ViewBag.Title = Strings.ErrorPageTitle;
}

<h1 class="text-danger">@Strings.ErrorPageHeading</h1>
<h2 class="text-danger">@Strings.ErrorMessage</h2>

