@using Strings = ProcessingTools.Web.Resources.Views.Shared.Strings
@model System.Web.Mvc.HandleErrorInfo
@{
    this.ViewBag.Title = Strings.LockedOutPageTitle;
}
<header>
    <hgroup>
        <h1 class="text-danger">@Strings.LockedOutPageHeading</h1>
        <h2 class="text-danger">@Strings.LockedOutMessage</h2>
    </hgroup>
</header>
