<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="MediaTypeDataJsonFilePath" value="DataFiles/mime.json"/>
    <add key="RanksDataFile" value="DataFiles/ranks.txt"/>
    <add key="EnvoTsvFilesDirectoryPath" value="DataFiles/Envo"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="MimeDbContext" connectionString="Data Source=USER-A\SQLEXPRESS;Initial Catalog=MediaTypes;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="MimeDbContext" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=MediaTypes;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ItisDbContext" connectionString="metadata=res://*/Itis.csdl|res://*/Itis.ssdl|res://*/Itis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV12;initial catalog=ITIS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TaxonomyDbContext" connectionString="Data Source=USER-A\SQLEXPRESS;Initial Catalog=Taxonomy;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="TaxonomyDbContext" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Taxonomy;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="BioEnvironmentsDbContext" connectionString="Data Source=USER-A\SQLEXPRESS;Initial Catalog=EnvironmentsDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="BioEnvironmentsDbContext" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=EnvironmentsDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>