@{
    ViewData[ContextKeys.Title] = "Confirm email";
}

<section role="main" class="container">
    <header>
        <h2>@(ViewData[ContextKeys.Title])</h2>
    </header>
    <p>Thank you for confirming your email.</p>
</section>
