@{
    ViewData[ContextKeys.Title] = "Signed out";
}

<section role="main" class="container">
    <header>
        <h2>@(ViewData[ContextKeys.Title])</h2>
    </header>
    <p>You have successfully signed out.</p>
</section>
