@using Strings = Resources.Strings

@{
    this.ViewBag.Title = Strings.CoordinatesCalculatorPageTitle + " - " + Strings.HelpPageTitle;
}

<header>
    <h2>@Strings.CoordinatesCalculatorPageHeading</h2>
</header>

<p>...</p>

