<div id="coordinates-list" class="panel panel-primary draggable">
    <div class="panel-heading toolbox-titlebar">
        <span class="titlebar-text">{{#title}}</span>
        <span class="titlebar-buttons">
            <button class="btn btn-primary minimize-button">_</button>
            <button class="btn btn-primary maximize-button">+</button>
            <button class="btn btn-primary close-button">×</button>
        </span>
    </div>
    <div class="panel-body">
        <div class="list-group">
            {{#each coordinates}}
            <a id="coordinate-item-{{@index}}" class="list-group-item coordinate-item" href="#{{#id}}">{{#text}}</a>
            {{/each}}
        </div>
    </div>
</div>