<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="1.0.0.23" targetFramework="net462" />
  <package id="ImageProcessor" version="2.5.4" targetFramework="net462" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net462" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net462" />
  <package id="QRCoder" version="1.2.8" targetFramework="net462" />
</packages>