<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MimeDbContext" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=MediaTypes;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ItisDbContext" connectionString="metadata=res://*/Itis.csdl|res://*/Itis.ssdl|res://*/Itis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV12;initial catalog=ITIS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="TaxonomyDbContext" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Taxonomy;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="BioEnvironmentsDbContext" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=EnvironmentsDatabase;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DataDbContext" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=ProcessingToolsData;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
