<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net462" />
  <package id="Ninject" version="3.3.4" targetFramework="net462" />
  <package id="Ninject.Extensions.Interception" version="3.3.3" targetFramework="net462" />
  <package id="Ninject.Extensions.Interception.DynamicProxy" version="3.3.3" targetFramework="net462" />
  <package id="SonarAnalyzer.CSharp" version="7.3.0.5690" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net462" developmentDependency="true" />
</packages>