@{
    ViewData[ContextKeys.Title] = "Contact";
}

<section role="main">
    <header>
        <h2>@ViewData[ContextKeys.Title]</h2>
    </header>

    <address>
        <strong>Home page:</strong> <a href="https://github.com/bozhink/ProcessingTools" target="_blank">ProcessingTools</a><br />
        <strong>Support:</strong> <a href="mailto:bozhin.karaivanov@gmail.com">Bozhin Karaivanov</a>
    </address>
</section>
