<div id="coordinates-map-toolbox" class="panel panel-primary draggable">
    <div class="panel-heading toolbox-titlebar">
        <span class="titlebar-text">{{title}}</span>
        <span class="titlebar-buttons">
            <button class="btn btn-primary minimize-button">_</button>
            <button class="btn btn-primary maximize-button">+</button>
            <button class="btn btn-primary close-button">×</button>
        </span>
    </div>
    <div class="panel-body">
        <div id="coordinates-map" class="toolbox-content"></div>
    </div>
</div>
