
@{
    this.ViewBag.Title = "Bio Data";
}

<header>
    <h2>Bio Data</h2>
</header>

<div ng-app="bioDataApp">
    <div taxa-ranks>
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i> Loading...
    </div>
</div>

@section Scripts {
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/wwwroot/build/dist/js/apps/bio-data-app.min.js"></script>
    <script>
        angular.module('bioDataApp').constant('UrlMap', {
            'taxa-ranks.tpl.html': '/wwwroot/build/dist/templates/taxa-ranks.tpl.html',
        });
    </script>
}
