
@{
    this.ViewBag.Title = "Bio Data";
}

<header>
    <h2>Bio Data</h2>
</header>

<div nav-loading>
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i> Loading...
</div>

@section Scripts {
    @Scripts.Render(BundleNames.AngularScriptBundleName)
}
