
@{
    this.ViewBag.Title = "Bio Data";
}

<header>
    <h2>Bio Data</h2>
</header>

<div ng-app="bioDataApp">
    <div ng-view>
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i> Loading...
    </div>
</div>

@section Scripts {
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/bower_components/angular-route/angular-route.min.js"></script>
    <script src="~/wwwroot/build/dist/js/apps/bio-data-app.min.js"></script>
    <script>
        angular.module('bioDataApp').constant('UrlMap', {
            'bio-data-home.view.html': '/wwwroot/build/dist/templates/views/data/bio/home.tpl.html',
            'bio-data-taxa-ranks.view.html': '/wwwroot/build/dist/templates/views/data/bio/taxa-ranks.tpl.html',
            'taxa-ranks.tpl.html': '/wwwroot/build/dist/templates/directives/data/bio/taxa-ranks.tpl.html',
            'navigation-tabs.tpl.html': '/wwwroot/build/dist/templates/directives/navigation-tabs.tpl.html'
        });
    </script>
}
