<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProcessingTools.ListsManager.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConfigJsonFilePath" value="C:/bin/config.json"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <userSettings>
    <ProcessingTools.ListsManager.ApplicationSettings>
      <setting name="ConfigurationFileName" serializeAs="String">
        <value/>
      </setting>
      <setting name="DefaultExtension" serializeAs="String">
        <value>json</value>
      </setting>
    </ProcessingTools.ListsManager.ApplicationSettings>
  </userSettings>
</configuration>
