@using Strings = Resources.Strings

@model ProcessingTools.Web.Documents.ViewModels.Error.ErrorMetaViewModel

@{
    ViewBag.Title = Strings.InvalidActionPageTitle;
}

<h2 class="text-danger">
    @Model.ToString()
</h2>
<h3>@Strings.InvalidActionPageHeading</h3>

<p>@Strings.GoBackAndTryAgainMessage</p>

@Html.Partial(ViewNames.ErrorFootPartialViewName)
