@using ProcessingTools.Web.Areas.Journals.Controllers
@using Strings = ProcessingTools.Web.Resources.Areas.Journals.Views.Publishers.Strings
@{
    this.ViewBag.Title = Strings.HelpPageTitle;
}
<section role="main">
    <header>
        <h2>@this.ViewBag.Title</h2>
    </header>
    <footer>
        <div role="navigation">
            @Html.ActionLink(Strings.BackActionLinkText, PublishersController.IndexActionName)
        </div>
    </footer>
</section>