<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="TwitterConsumerKey" value="" />
  <add key="TwitterConsumerSecret" value="" />

  <add key="BiotaxonomyBlackListXmlFileName" value="C:/bin/Xml/taxonomy.blackList.xml" />
  <add key="BiotaxonomyRankListXmlFileName" value="C:/bin/Xml/taxonomy.rankList.xml" />
</appSettings>
