<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Secret data values-->
  <add key="TwitterConsumerKey" value="" />
  <add key="TwitterConsumerSecret" value="" />

  <!-- DB configurations -->
  <add key="RedisConnection" value="redis://localhost:6379?ssl=false&amp;client=ProcessingToolsCache&amp;db=1&amp;connectTimeout=1000&amp;sendTimeout=100&amp;receiveTimeout=100&amp;idleTimeoutSecs=4" />
  <add key="BiorepositoriesMongoConnection" value="mongodb://localhost" />
  <add key="BiotaxonomyMongoConnection" value="mongodb://localhost" />

  <add key="BiorepositoriesMongoDabaseName" value="biorepositories" />
  <add key="BiotaxonomyMongoDabaseName" value="biotaxonomy" />
  <add key="BiotaxonomyBlackListXmlFileName" value="C:/bin/Xml/taxonomy.blackList.xml" />
  <add key="BiotaxonomyRankListXmlFileName" value="C:/bin/Xml/taxonomy.rankList.xml" />

  <!-- XSL file names -->
  <add key="AbbreviationsXQueryFilePath" value="XQuery/harvesters/abbrev.xq" />
  <add key="TextContentXslFileName" value="Xsl/harvesters/text-content.xsl" />
  <add key="ExternalLinksXslFilePath" value="Xsl/harvesters/harvest.external-links.xsl" />
  <add key="ZoobankNlmXslPath" value="Xsl/zoobank-nlm.xsl" />
  <add key="NlmInitialFormatXslPath" value="Xsl/format/format.nlm.initial.xsl" />
  <add key="SystemInitialFormatXslPath" value="Xsl/format/format.system.initial.xsl" />
  <add key="FormatSystemToNlmXslPath" value="Xsl/format/format.system-to-nlm.xsl" />
  <add key="FormatNlmToSystemXslPath" value="Xsl/format/format.nlm-to-system.xsl" />
  <add key="CodesRemoveNonCodeNodesXslPath" value="Xsl/codes.remove-non-code-nodes.xsl" />
  <add key="ReferencesGetReferencesXslPath" value="Xsl/references/references.get.xsl" />
  <add key="ReferencesTagTemplateXslPath" value="Xsl/references/references.tag-template.xsl" />
  <add key="FormatTaxonTreatmentsXslPath" value="Xsl/format/format.taxon-treatments.xsl" />
  <add key="TaxonTreatmentExtractMaterialsXslPath" value="Xsl/materials/taxon-treatment.extract-materials.xsl" />
  <add key="RemoveTaxonNamePartsXslPath" value="Xsl/taxonomy/remove-taxon-name-parts.xsl" />
  <add key="ParseTreatmentMetaWithInternalInformationXslPath" value="Xsl/taxonomy/parse-treatment-meta-with-inner-information.xsl" />
  <add key="FormatXmlToHtmlXslFilePath" value="C:/GitHub/ProcessingTools/Infrastructure/Xml/Xsl/Format/format.xml-to-html.xsl" />
  <add key="FormatHtmlToXmlXslFilePath" value="C:/GitHub/ProcessingTools/Infrastructure/Xml/Xsl/Format/format.html-to-xml.xsl" />

  <!-- Web data files -->
  <add key="DefaultDataFilesDirectoryName" value="C:/data/ds/files" />

  <!-- Data files for seed -->
  <add key="DataFilesDirectoryPath" value="DataFiles/Seed" />
  <add key="BiorepositoriesSeedCsvDataFilesDirectoryName" value="DataFiles/grbio" />
  <add key="MediaTypeDataJsonFilePath" value="DataFiles/Seed/mime.json" />
  <add key="CountryCodesSeedFileName" value="country-codes.txt" />
  <add key="ContinentsCodesSeedFileName" value="continents.txt" />
  <add key="RanksDataFileName" value="ranks.txt" />
  <add key="GeoEpithetsSeedFileName" value="geo-epithets.txt" />
  <add key="GeoNamesSeedFileName" value="geo-names.txt" />
  <add key="ProductsSeedFileName" value="products.txt" />
  <add key="InstitutionsSeedFileName" value="institutions.txt" />
  <add key="EnvironmentsEntitiesFileName" value="environments_entities.tsv" />
  <add key="EnvironmentsNamesFileName" value="environments_names.tsv" />
  <add key="EnvironmentsGroupsFileName" value="environments_groups.tsv" />
  <add key="EnvironmentsGlobalFileName" value="environments_global.tsv" />
  <add key="MorphologicalEpithetsFileName" value="morphological-epithets.txt" />
  <add key="TypeStatusesFileName" value="type-statuses.txt" />
</appSettings>
