<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Secret data values-->
  <add key="TwitterConsumerKey" value="" />
  <add key="TwitterConsumerSecret" value="" />

  <!-- DB configurations -->
  <add key="RedisConnection" value="redis://localhost:6379?ssl=false&amp;client=ProcessingToolsCache&amp;db=1&amp;connectTimeout=1000&amp;sendTimeout=100&amp;receiveTimeout=100&amp;idleTimeoutSecs=4" />
  <add key="BiorepositoriesMongoConnection" value="mongodb://localhost" />
  <add key="BiotaxonomyMongoConnection" value="mongodb://localhost" />
  <add key="MediatypesMongoConnection" value="mongodb://localhost" />
  <add key="DocumentsMongoConnection" value="mongodb://localhost" />
  <add key="CacheMongoConnection" value="mongodb://localhost" />

  <add key="BiorepositoriesMongoDabaseName" value="biorepositories" />
  <add key="BiotaxonomyMongoDabaseName" value="biotaxonomy" />
  <add key="BiotaxonomyBlackListXmlFileName" value="C:/bin/Xml/taxonomy.blackList.xml" />
  <add key="BiotaxonomyRankListXmlFileName" value="C:/bin/Xml/taxonomy.rankList.xml" />
  <add key="MediatypesMongoDabaseName" value="processingTools" />
  <add key="DocumentsMongoDabaseName" value="processingTools" />
  <add key="CacheMongoDabaseName" value="cache" />

  <add key="JournalsJsonFilesDirectoryName" value="C:/bin/journals/" />

  <!-- XSL file names -->
  <add key="AbbreviationsXQueryFileName" value="XQuery/harvesters/abbrev.xq" />
  <add key="CodesRemoveNonCodeNodesXslFileName" value="Xsl/codes.remove-non-code-nodes.xsl" />
  <add key="ExternalLinksXslFileName" value="Xsl/harvesters/harvest.external-links.xsl" />
  <add key="FormatHtmlToXmlXslFileName" value="C:/GitHub/ProcessingTools/Infrastructure/Xml/Xsl/Format/format.html-to-xml.xsl" />
  <add key="FormatNlmToSystemXslFileName" value="Xsl/format/format.nlm-to-system.xsl" />
  <add key="FormatSystemToNlmXslFileName" value="Xsl/format/format.system-to-nlm.xsl" />
  <add key="FormatTaxonTreatmentsXslFileName" value="Xsl/format/format.taxon-treatments.xsl" />
  <add key="FormatXmlToHtmlXslFileName" value="C:/GitHub/ProcessingTools/Infrastructure/Xml/Xsl/Format/format.xml-to-html.xsl" />
  <add key="GavinLaurensXslFileName" value="Xsl/special/gavin-laurens-tn-ultimate.xsl" />
  <add key="NlmInitialFormatXslFileName" value="Xsl/format/format.nlm.initial.xsl" />
  <add key="ParseTreatmentMetaWithInternalInformationXslFileName" value="Xsl/taxonomy/parse-treatment-meta-with-inner-information.xsl" />
  <add key="ReferencesGetReferencesXslFileName" value="Xsl/references/references.get.xsl" />
  <add key="ReferencesTagTemplateXslFileName" value="Xsl/references/references.tag-template.xsl" />
  <add key="RemoveTaxonNamePartsXslFileName" value="Xsl/taxonomy/remove-taxon-name-parts.xsl" />
  <add key="SystemInitialFormatXslFileName" value="Xsl/format/format.system.initial.xsl" />
  <add key="TaxonTreatmentExtractMaterialsXslFileName" value="Xsl/materials/taxon-treatment.extract-materials.xsl" />
  <add key="TextContentXslFileName" value="Xsl/harvesters/text-content.xsl" />
  <add key="ZooBankRegistrationNlmXslFileName" value="Xsl/zoobank-nlm.xsl" />

  <!-- Web data files -->
  <add key="AppDataDirectoryName" value="C:/data/ds/files" />

  <!-- Data files for seed -->
  <add key="BiorepositoriesSeedCsvDataFilesDirectoryName" value="DataFiles/grbio" />
  <add key="ContinentsCodesSeedFileName" value="continents.txt" />
  <add key="CountryCodesSeedFileName" value="country-codes.txt" />
  <add key="DataFilesDirectoryName" value="DataFiles/Seed" />
  <add key="EnvironmentsEntitiesFileName" value="environments_entities.tsv" />
  <add key="EnvironmentsGlobalFileName" value="environments_global.tsv" />
  <add key="EnvironmentsGroupsFileName" value="environments_groups.tsv" />
  <add key="EnvironmentsNamesFileName" value="environments_names.tsv" />
  <add key="GeoEpithetsSeedFileName" value="geo-epithets.txt" />
  <add key="GeoNamesSeedFileName" value="geo-names.txt" />
  <add key="InstitutionsSeedFileName" value="institutions.txt" />
  <add key="MediaTypeDataJsonFileName" value="DataFiles/Seed/mime.json" />
  <add key="MorphologicalEpithetsFileName" value="morphological-epithets.txt" />
  <add key="ProductsSeedFileName" value="products.txt" />
  <add key="RanksDataFileName" value="ranks.txt" />
  <add key="TypeStatusesFileName" value="type-statuses.txt" />
</appSettings>
