.view-list {
  margin: 0 0 10px 0;
  padding: 0;
  display: table;
  border-collapse: collapse;
}
.view-list .list-item {
  display: table-row;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
.view-list .list-item:hover {
  background-color: azure;
}
.view-list .index {
  display: table-cell;
  min-width: 20px;
  width: 20px;
  padding: 5px 10px;
  text-align: right;
}
.view-list .taxon-name {
  display: table-cell;
  min-width: 200px;
  width: 200px;
  padding: 5px 10px;
}
.view-list .taxon-rank {
  display: table-cell;
  min-width: 80px;
  width: 80px;
  padding: 5px 10px;
}
.view-list .black-list-item {
  display: table-cell;
  min-width: 200px;
  width: 200px;
  padding: 5px 10px;
}
.view-list .remove-button {
  display: table-cell;
  min-width: 40px;
  width: 40px;
  padding: 5px 10px;
  cursor: pointer;
}
.view-list .remove-button:hover {
  color: red;
}