body {
  padding-top: 70px;
  padding-bottom: 70px;
}
#main {
  margin: 0 auto;
  width: 100%;
  /*height: 50vh;*/
}
#editor-container {
  margin: 0 auto;
  width: 100%;
  height: 75vh;
  border: 1px solid gray;
}