<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataFilesDirectoryPath" value="DataFiles"/>
    <add key="BlackListSampleFileName" value="blacklist-sample.xml"/>
    <add key="RankListSampleFileName" value="ranklist-sample.xml"/>
  </appSettings>
</configuration>