<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataFilesDirectoryName" value="DataFiles" />
    <add key="BlackListSampleFileName" value="blacklist-sample.xml" />
    <add key="RankListSampleFileName" value="ranklist-sample.xml" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
