<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeMirror" version="2.37" targetFramework="net46" />
  <package id="CodeMirror.Base" version="3.02" targetFramework="net46" />
  <package id="CodeMirror.Full" version="3.01" targetFramework="net46" />
  <package id="CodeMirror.KeyMap" version="3.01" targetFramework="net46" />
  <package id="CodeMirror.Modes" version="3.01" targetFramework="net46" />
  <package id="CodeMirror.Themes" version="3.01" targetFramework="net46" />
  <package id="CodeMirror.Util" version="3.01" targetFramework="net46" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.1" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="1.1.1" targetFramework="net46" developmentDependency="true" />
</packages>