.previewer {
	display: none;
}

.article {
	border-bottom: 1px solid black;
}

.article h2:hover {
	cursor: pointer;
	text-decoration: underline;
}

.article p {
	display: none;
}

.previewer:checked ~ .article h2:hover {
	cursor: default;
	text-decoration: inherit;
}

.previewer:checked ~ .article p {
	display: block;
}