<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ConfigJsonFilePath" value="C:/bin/config.json" />
    <add key="CountryCodesSeedFileName" value="country-codes.txt" />
    <add key="ContinentsCodesSeedFileName" value="continents.txt" />
    <add key="DataFilesDirectoryPath" value="DataFiles/Seed" />
    <add key="MediaTypeDataJsonFilePath" value="DataFiles/Seed/mime.json" />
    <add key="RanksDataFileName" value="ranks.txt" />
    <add key="BiorepositoriesMongoDabaseName" value="biorepositories" />
    <add key="BiorepositoriesSeedCsvDataFiles" value="DataFiles/grbio" />
    <add key="BiotaxonomyMongoDabaseName" value="biotaxonomy" />
    <add key="BiotaxonomyTaxaMongoCollectionName" value="taxa" />
    <add key="GeoEpithetsSeedFileName" value="geo-epithets.txt" />
    <add key="GeoNamesSeedFileName" value="geo-names.txt" />
    <add key="ProductsSeedFileName" value="products.txt" />
    <add key="InstitutionsSeedFileName" value="institutions.txt" />
    <add key="EnvironmentsEntitiesFileName" value="environments_entities.tsv" />
    <add key="EnvironmentsNamesFileName" value="environments_names.tsv" />
    <add key="EnvironmentsGroupsFileName" value="environments_groups.tsv" />
    <add key="EnvironmentsGlobalFileName" value="environments_global.tsv" />
    <add key="MorphologicalEpithetsFileName" value="morphological-epithets.txt" />
    <add key="TypeStatusesFileName" value="type-statuses.txt" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BiorepositoriesMongoConnection" connectionString="mongodb://localhost" />
    <add name="BiotaxonomyMongoConnection" connectionString="mongodb://localhost" />
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=ProcessingTools.Web.Api;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BioDatabaseConnection" connectionString="Data Source=.;Initial Catalog=BioDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BioEnvironmentsDatabaseConnection" connectionString="Data Source=.;Initial Catalog=EnvironmentsDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BioTaxonomyDatabaseConnection" connectionString="Data Source=.;Initial Catalog=Taxonomy;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DataDatabseConnection" connectionString="Data Source=.;Initial Catalog=ProcessingToolsData;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DocumentsDatabaseConnection" connectionString="Data Source=.;Initial Catalog=Documents;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="GeoDatabseConnection" connectionString="Data Source=.;Initial Catalog=GeoDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MediatypesDatabaseConnection" connectionString="Data Source=.;Initial Catalog=Mediatypes;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
