<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData[ContextKeys.Title]) - ProcessingTools.Web.Documents</title>
    <partial name="_ApplicationStylesPartial" />
    @(RenderSection("Styles", required: false))
</head>
<body>
    @if (ViewData[ContextKeys.ShowApplicationHeader] as bool? != false)
    {
        <partial name="_ApplicationNavbarPartial" />
    }
    
    <partial name="_CookieConsentPartial" />

    <main role="main" class="body-content">
        @(RenderBody())
    </main>

    @if (ViewData[ContextKeys.ShowApplicationFooter] as bool? != false)
    {
        <footer class="page-footer">
            <partial name="_ApplicationFooterPartial" />
        </footer>
    }

    <partial name="_ApplicationScriptsPartial" />
    @(RenderSection("Scripts", required: false))
</body>
</html>
