@using System.Net
@model string

@{
    ViewData[ContextKeys.Title] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Enum.TryParse(typeof(HttpStatusCode), Model, true, out object code))
{
    <p>Status code: @Model (@code)</p>
}
else
{
    <p>Status code: @Model</p>
}
