@model ProcessingTools.Web.Documents.ViewModels.Error.ErrorMetaViewModel

@{
    ViewBag.Title = "BadRequestError";
}

<h2 class="text-danger">
    @Model.ToString()
</h2>
<h3 class="text-danger">Bad Request</h3>

<p>Please, go back and try again.</p>

@Html.Partial(ViewNames.ErrorFootPartialViewName)
