@using ProcessingTools.Web.Documents.App_GlobalResources
@model ProcessingTools.Web.Documents.ViewModels.Error.ErrorMetaViewModel

@{
    ViewBag.Title = Strings.ErrorPageTitle;
}

<h2 class="text-danger">
    @(Model?.ToString() ?? "Error")
</h2>
<h3>@Strings.ErrorPageHeading</h3>

@if (Model != null)
{
    <p>
        @Model.SourceAction.Message
    </p>

    @Html.Partial(ViewNames.ErrorFootPartialViewName)
}
