@model ProcessingTools.Web.Documents.ViewModels.Error.ErrorMetaViewModel

@{
    ViewBag.Title = "Invalid Or Empty File Error";
}

<h2 class="text-danger">
    @Model.ToString()
</h2>
<h3 class="text-danger">Invalid Or Empty File or Files</h3>

<ol>
    @foreach (string fileName in this.ViewBag.InvalidFiles)
    {
        <li class="text-danger">@fileName</li>
    }
</ol>

<p>Please, select a file or files and try again.</p>
<p>
    @Html.ActionLink(
        Model.SourceAction.ActionLinkText,
        Model.SourceAction.ActionName,
        Model.SourceAction.ControllerName,
        routeValues: new { area = Model.SourceAction.AreaName },
        htmlAttributes: null)
</p>

@Html.Partial(ViewNames.ErrorFootPartialViewName)
