@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "InvalidAction";
}

<h2>Invalid Action</h2>
<h3>
    @Html.DisplayFor(model => model.Exception.GetType().Name)
</h3>

<p>
    @Html.DisplayFor(model => model.Exception.Message)
</p>
