@model ProcessingTools.Web.Documents.ViewModels.Error.ErrorMetaViewModel

@{
    ViewBag.Title = "Invalid Id Error";
}

<h2 class="text-danger">
    @Model.ToString()
</h2>
<h3>Valid Id is expected.</h3>

<p>Please, go back and try again.</p>

@Html.Partial(ViewNames.ErrorFootPartialViewName)
