@using Strings = Resources.Strings

@model ProcessingTools.Web.Documents.ViewModels.Error.ErrorMetaViewModel

@{
    ViewBag.Title = Strings.NotFoundPageTitle;
}

<h2 class="text-danger">
    @Model.ToString()
</h2>
<h3>@Strings.NotFoundPageHeading</h3>

<p>
    @Model.SourceAction.Message
</p>

@Html.Partial(ViewNames.ErrorFootPartialViewName)
