@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="file" name="file" class="form-control" accept=".xml, application/xml" />
        <p class="help-block">Example block-level help text here.</p>
        <input type="submit" name="Submit" id="Submit" value="Upload" class="btn btn-default" />
    </div>
}
