@{
    ViewData[ContextKeys.Title] = "Forgot password confirmation";
}

<section role="main" class="container">
    <header>
        <h2>@(ViewData[ContextKeys.Title])</h2>
    </header>
    <p>Please check your email to reset your password.</p>
</section>
