@{
    ViewData[ContextKeys.Title] = "Locked out";
}

<section role="main" class="container">
    <header>
        <h2 class="text-danger">@(ViewData[ContextKeys.Title])</h2>
    </header>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</section>
