@{
    ViewData[ContextKeys.Title] = "Parse References";
}

<h2>@ViewData[ContextKeys.Title]</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<a href="@(ViewData[ContextKeys.ReturnUrl])" class="btn btn-outline-secondary">Cancel</a>
