@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Tools for layout editing and bio-semantic tagging</h3>

<address>
    <strong>Home page:</strong> <a href="https://github.com/bozhink/ProcessingTools" target="_blank">ProcessingTools in GitHub</a><br />
    <strong>Documentation:</strong> <a href="https://github.com/bozhink/ProcessingTools/wiki" target="_blank">
    Wiki</a><br />
    <strong>Issues:</strong> <a href="hhttps://github.com/bozhink/ProcessingTools/issues" target="_blank">Issues in GitHub</a>
</address>
