@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Home page:</strong> <a href="https://github.com/bozhink/ProcessingTools" target="_blank">ProcessingTools
</a><br />
    <strong>Support:</strong>   <a href="mailto:bozhin.karaivanov@gmail.com">Bozhin Karaivanov</a>
</address>