<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Base.Properties.Settings.EnvironmentsConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Data\Environments.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Base.Properties.Settings.TaxonomyConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Taxonomy.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>