@model FileUploadMvc.Models.DetailsModel
@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/custom-css")

<main>
    <div id="article">
        @Html.Raw(Model.Document)
    </div>
</main>
