@{
    ViewData[ContextKeys.Title] = "Documents Help";
}

<section role="main">
    <header>
        <h2>@ViewData[ContextKeys.Title]</h2>
    </header>

    <section>
        <h3>Keyboard shortcuts</h3>

        <section>
            <h4>View <em>Preview HTML</em></h4>

            <section>
                <h5>Common</h5>
                <dl class="row">
                    <dt class="col-md-2 bold">Ctrl + S</dt>
                    <dd class="col-md-10">Save document.</dd>

                    <dt class="col-md-2 bold">Ctrl + R</dt>
                    <dd class="col-md-10">Refresh document content.</dd>

                    <dt class="col-md-2 bold">Ctrl + B</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>bold</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Ctrl + I</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>italic</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Ctrl + U</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>underline</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Ctrl + M</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>monospace</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Ctrl + Del</dt>
                    <dd class="col-md-10">Remove all tags in selection.</dd>

                    <dt class="col-md-2 bold">Alt + A</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>abbrev</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + D</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>def/p</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + C</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>locality-coordinates</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + E</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>ext-link</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Escape</dt>
                    <dd class="col-md-10">Exit from <em>in-edit</em> mode.</dd>
                </dl>
            </section>

            <section>
                <h5>Bibliography</h5>
                <dl class="row">
                    <dt class="col-md-2 bold">Alt + 1</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>article-title</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + 2</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>chapter-title</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + 3</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>trans-title</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + 4</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>source</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + 5</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>trans-source</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + 6</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>publisher-name</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + 7</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>publisher-loc</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + 8</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>comment</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + 9</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>person-group</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + 0</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>institution</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + f1</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>volume</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + f2</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>issue</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + f3</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>fpage</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + f4</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>lpage</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + f5</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>size</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + f6</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>elocation-id</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + f7</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>year</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + f8</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>edition</kbd> tag.</dd>

                    <dt class="col-md-2 bold">Alt + f9</dt>
                    <dd class="col-md-10">Wrap selected text in <kbd>series</kbd> tag.</dd>
                </dl>
            </section>
        </section>

        <section>
            <h4>View <em>Edit XML</em></h4>
            <dl class="row">
                <dt class="col-md-2 bold">Ctrl + S</dt>
                <dd class="col-md-10">Save document.</dd>

                <dt class="col-md-2 bold">Ctrl + R</dt>
                <dd class="col-md-10">Refresh document content.</dd>
            </dl>
        </section>
    </section>

    <section>
        <h3>View <em>Preview HTML</em></h3>
        <p>Double click on elements <kbd>p</kbd>, <kbd>td</kbd>, <kbd>th</kbd> to make them content-editable. Click outside (blur) to exit from edit mode.</p>
    </section>

</section>
