@model ProcessingTools.Web.Models.Documents.Documents.DocumentHtmlViewModel
@{
    ViewData[ContextKeys.Title] = "Document Preview";
    if (string.IsNullOrWhiteSpace(Model?.PageHeading))
    {
        string title = Html.DisplayNameFor(m => m.PageHeading);
        if (!string.IsNullOrWhiteSpace(title))
        {
            ViewData[ContextKeys.Title] = title;
        }
    }
    else
    {
        ViewData[ContextKeys.Title] = Model.PageHeading;
    }
}

<div asp-validation-summary="All" class="text-danger"></div>

@Html.Raw(Model?.Content)
