@{
    ViewBag.Title = "Invalid Or Empty File Error";
}

<h2 class="text-danger">Error</h2>
<h3 class="text-danger">Invalid Or Empty File</h3>

<p>Please, select another file and try again.</p>
<hr />
<p>
    @Html.ActionLink(ContentConstants.DefaultUploadNewFileActionLinkTitle, nameof(FilesController.Create))
</p>

