@model ProcessingTools.Web.Documents.Areas.Articles.ViewModels.Files.DocumentDetailsViewModel

@{
    ViewBag.Title = ContentConstants.DeafultPreviewPageTitle;
}

@Styles.Render("~/Content/article-styles")

<section id="article">
    @Html.Raw(Model.Content)
</section>

<aside>
    <div id="aside-main-box"></div>
</aside>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/article")
}
