@model ProcessingTools.Web.Documents.Areas.Articles.ViewModels.Files.DocumentDetailsViewModel

@{
    ViewBag.Title = ContentConstants.DeafultPreviewPageTitle;
}

@Styles.Render("~/Content/article-styles")

<main>
    <div id="article">
        @Html.Raw(Model.Content)
    </div>
</main>
