@model ProcessingTools.Web.Documents.Areas.Articles.ViewModels.Files.DocumentDetailsViewModel

@{
    ViewBag.Title = ContentConstants.DeafultPreviewPageTitle;
}

@Styles.Render("~/Content/article-styles")

<section id="article">
    @Html.Raw(Model.Content)
</section>

<aside id="aside-main-box"></aside>

<div class="clearfix"></div>

@Scripts.Render("~/bundles/jquery")
<script src="~/bower_components/interact/interact.js"></script>
@Scripts.Render("~/bundles/article")

<script>
    window.articlePreviewActions.toggleMarkTitle(),
    window.articlePreviewActions.genrateCoordinatesList('#aside-main-box');
    window.articlePreviewActions.registerDragabbleBehavior('.draggable');
    window.articlePreviewActions.addBalloon('a.bibr');
    window.articlePreviewActions.addBalloon('a.fig', ' .caption');
    window.articlePreviewActions.addBalloon('a.table', ' .caption');
</script>
