@{
    ViewData[ContextKeys.Title] = "Use Data Table";
}

<section role="main" class="container">
    <header>
        <h2>@ViewData[ContextKeys.Title]</h2>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Simple Pie Chart</h4>
                <div id="chart1"></div>
            </div>
            <div class="col-md-6">
                <h4>3D Pie Chart</h4>
                <div id="chart2"></div>
            </div>
            <div class="col-md-6">
                <h4>Exploded Pie Chart</h4>
                <div id="chart3"></div>
            </div>
            <div class="col-md-6">
                <h4>Exploded 3D Pie Chart</h4>
                <div id="chart4"></div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var chart, option, data = new google.visualization.DataTable();
            data.addColumn('string', 'Tax Type');
            data.addColumn('number', 'Tax Percentage');
            data.addRows([
                ['Soc. Sec. Tax', { v: 30, f: '30%' }],
                ['Income Tax', { v: 35, f: '35%' }],
                ['Borrowing', { v: 15, f: '15%' }],
                ['Corp. Tax', { v: 12, f: '12%' }],
                ['Misc', { v: 8, f: '8%' }]
            ]);

            // Simple Pie Chart:
            option = {
                title: 'Tax Structure in US',
                width: 500,
                height: 400
            };

            chart = new google.visualization.PieChart(document.getElementById('chart1'));
            chart.draw(data, option);

            // 3D Pie Chart:
            option.is3D = true;
            chart = new google.visualization.PieChart(document.getElementById('chart2'));
            chart.draw(data, option);

            // Exploded Pie Chart:
            option.is3D = false;
            option.slices = {
                1: { offset: 0.3 },
                3: { offset: 0.5 }
            };
            chart = new google.visualization.PieChart(document.getElementById('chart3'));
            chart.draw(data, option);

            // Exploded 3D Pie Chart:
            option.is3D = true;
            chart = new google.visualization.PieChart(document.getElementById('chart4'));
            chart.draw(data, option);
        }
    </script>
}
