<div class="container-fluid">
    <div class="col-md-4">
        <div class="contols">
            <div class="form-group row">
                <fieldset>
                    <legend>Add black-list items</legend>
                    <form ng-submit="blackList.addItem()" class="form-horizontal">
                        <textarea ng-model="blackList.textArea" name="taxa" cols="30" rows="4" placeholder="add black-list items here" class="form-control"></textarea>
                        <input class="btn btn-primary" type="submit" value="add" />
                    </form>
                </fieldset>
            </div>
            <div class="form-group row">
                <fieldset>
                    <legend>Search black-list item</legend>
                    <form ng-submit="blackList.search('blackListSearchUrl')" class="form-horizontal">
                        <input ng-model="blackList.searchString" type="text" size="30" placeholder="input black-list item to search here" class="form-control"
                            pattern=".+" />
                        <input class="btn btn-primary" type="submit" value="search" />
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row" ng-if="blackList.items.length">
            <fieldset>
                <legend>Black-list items</legend>
                <ul class="view-list">
                    <li ng-repeat="item in blackList.items | orderBy: 'content'" class="list-item">
                        <span class="index">{{$index + 1}}.</span>
                        <span class="black-list-item">{{item.content}}</span>
                        <span ng-click="blackList.removeItem(item.id)" class="glyphicon glyphicon-remove remove-button" title="Remove"></span>
                    </li>
                </ul>
                <div class="form-group row">
                    <span ng-click="blackList.clearList()" class="btn btn-outline-secondary">Clear List</span>
                    <span ng-click="blackList.submitItems('blackListSubmitUrl')" class="btn btn-outline-primary">Submit</span>
                </div>
            </fieldset>
        </div>
    </div>
</div>