<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DefaultDataFilesDirectory" value="ApplicationDataFiles" />
    <add key="FormatXmlToHtmlXslFilePath" value="Xsl/format.xml-to-html.xsl" />
    <add key="FormatHtmlToXmlXslFilePath" value="Xsl/format.html-to-xml.xsl" />
  </appSettings>
</configuration>
