@model string
@{
    ViewBag.Title = "QR Code Generator";
}

<section role="main">
    <header>
        <h2>@ViewBag.Title</h2>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="form-horizontal">
            <div class="form-group">
                <textarea name="content" placeholder="Your text here" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
                <input type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    }

    <div role="img" class="qr-code">
        @if (Model != null)
        {
            @Html.Raw(Model)
        }
    </div>
</section>