@using Strings = Resources.Strings
@model ProcessingTools.Web.Documents.Areas.DataResources.ViewModels.ContentTypes.ContentTypeCreateViewModel

@{
    ViewBag.Title = Strings.DeafultCreatePageTitle;
}

<header>
    <h2>@Strings.DeafultCreatePageHeading</h2>
</header>

@Html.Partial(ViewNames.EditPartialViewName)
