@model ProcessingTools.Web.Documents.Areas.DataResources.ViewModels.ContentTypes.ContentTypeCreateViewModel

@{
    ViewBag.Title = Resources.Strings.DeafultCreatePageTitle;
}

<header>
    <h2>@Resources.Strings.DeafultCreatePageHeading</h2>
</header>

@Html.Partial(ViewNames.EditPartialViewName)
