@model ProcessingTools.Web.Documents.Areas.DataResources.ViewModels.ContentTypes.ContentTypeEditViewModel

@{
    ViewBag.Title = Resources.Strings.DeafultEditPageTitle;
}

<header>
    <h2>@Resources.Strings.DeafultEditPageHeading</h2>
</header>

@Html.Partial(ViewNames.EditPartialViewName)
